RewriteEngine On

RewriteRule ^login\.html$ pages/login.html [L]
RewriteRule ^register\.html$ pages/register.html [L]
RewriteRule ^account\.html$ pages/account.php [L]
RewriteRule ^products\.html$ pages/products.php [L]
RewriteRule ^ratings\.html$ pages/ratings.php [L]
RewriteRule ^indicators\.html$ pages/indicators.php [L]
RewriteRule ^inicial\.html$ pages/inicial.php [L]
