RewriteEngine On

RewriteRule ^login\.html$ pages/login.html [L]
RewriteRule ^register\.html$ pages/register.html [L]
RewriteRule ^account\.html$ pages/account.html [L]
RewriteRule ^products\.html$ pages/products.html [L]
RewriteRule ^ratings\.html$ pages/ratings.html [L]
RewriteRule ^indicators\.html$ pages/indicators.html [L]
RewriteRule ^inicial\.html$ pages/inicial.html [L]
